@model SkyExams.ViewModels.groupStudentVM
@{
    ViewBag.Title = "generateGroupReport";
    var uID = ViewData["userID"];
    var name = ViewData["userName"];
}

<h2>Generate Group Student Report</h2>
<br />
<dl class="dl-horizontal" id="report">
    <dd class="col-md-4">
        <b>Group Student Report</b>
    </dd>

    <dd>
        @name
    </dd>

    @foreach (var s in Model.students)
    {
        <dd class="col-md-4">
            <b> @Html.Label("Title:")</b>
        </dd>

        <dd>
            @s.title
        </dd>

        <dd class="col-md-4">
            <b>@Html.Label("Name:")</b>
        </dd>

        <dd>
            @s.name
        </dd>

        <dd class="col-md-4">
            <b>@Html.Label("Licence No:")</b>
        </dd>

        <dd>
            @s.licence
        </dd>

        <dd class="col-md-4">
            <b>@Html.Label("Hours Flown:")</b>
        </dd>

        <dd>
            @s.hoursFlown
        </dd>

        <dd class="col-md-4">
            <b>@Html.Label("Exams:")</b>
        </dd>
        <br />
        <br />
        <dd>
            @foreach (var item in s.planeTypes)
            {
                <ul>
                    <li>
                        @Html.DisplayFor(modelItem => item.Type_Description)
                    </li>
                </ul>
            }
        </dd>

        <dd class="col-md-4">
            <b>@Html.Label("Respective Exam Marks:")</b>
        </dd>
        <br />
        <br />
        <dd>
            @foreach (var item in s.examMarks)
            {
                <ul>
                    <li>
                        @Html.DisplayFor(modelItem => item.Exam_Mark)
                    </li>
                </ul>
            }
        </dd>
    }
    <dd class="col-md-4">
        <b>@Html.Label("Total Hours Flown:")</b>
    </dd>

    <dd>
        @Model.totHours
    </dd>

    <img src="~/Content/SkyExamsEdited-removebg-preview (1).png" width="150px" height="75px" title="title" alt="additional title" />
    <br />
    @DateTime.Now.Year / @DateTime.Now.Month / @DateTime.Now.Day
</dl>
<button type="button" onclick="location.href='@Url.Action("reportsScreen", "Reports", new { id = uID })'">
    Back
</button>
<button type="button" id="generate">
    Download Report
</button>

@section groupReportScript
{
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.3.2/jspdf.min.js"></script>
    <script>
        $('#generate').on('click', function () {
            var pdf = new jsPDF('p', 'pt', 'letter');
            source = $('#report')[0];


            specialElementHandlers = {

            };
            margins = {
                top: 80,
                bottom: 60,
                left: 40,
                width: 522
            };

            pdf.fromHTML(
                source,
                margins.left,
                margins.top, {
                'width': margins.width,
                'elementHandlers': specialElementHandlers
            },


                function (dispose) {
                    pdf.save('groupStudentReport.pdf');
                }, margins
            );
        });
    </script>
}

