@model IEnumerable<SkyExams.Models.Sys_User>
@{
    ViewBag.Title = "instructorReport";
    var uID = ViewData["userID"];
    var time = ViewData["time"];
}

<h2>Instructor Report</h2>
<p>Please select a instructor to generate their report</p>
<table class="table">
    <thead>
        <tr>
            <th scope="col">First Name</th>
            <th scope="col">Surname</th>
            <th scope="col">Cell number</th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td scope="row">
                    @Html.DisplayFor(modelItem => item.FName)
                </td>
                <td scope="row">
                    @Html.DisplayFor(modelItem => item.Surname)
                </td>
                <td scope="row">
                    @Html.DisplayFor(modelItem => item.Cell_Number)
                </td>
                <td scope="row" id="del">
                    <button type="button" class="btn btn-primary" onclick="location.href='@Url.Action("generateInstructorReport", "Reports", new { loggedId = uID, id = item.SysUser_ID })'">
                        Generate Report
                    </button>
                </td>
            </tr>
        }
    </tbody>
</table>
<br />
<br />
<button type="button" class="btn btn-info" onclick="location.href='@Url.Action("reportsScreen", "Reports", new { id = uID })'">
    Back
</button>

<script>
    function timer() {
        window.location.href = '/Sys_User/loginScreen';
    }
    window.oninput = setTimeout(timer, @time);
</script>



