@model SkyExams.Models.Sys_User
@{
    ViewBag.Title = "reportsScreen";
}

<h2>Reports Screen</h2>
<p>Please select a report you would like to generate.</p>
<button type="button" onclick="location.href='@Url.Action("studentReport", "Reports", new { id = Model.SysUser_ID })'">
    Individual Student Report
</button>
<button type="button" onclick="location.href='@Url.Action("groupReport", "Reports", new { id = Model.SysUser_ID })'">
    Group Student Report
</button>
<button type="button" onclick="location.href='@Url.Action("planeReport", "Reports", new { id = Model.SysUser_ID })'">
    Plane Report
</button>
<button type="button" onclick="location.href='@Url.Action("instructorReport", "Reports", new { id = Model.SysUser_ID })'">
    Insrtuctor Report
</button>
<button type="button" onclick="location.href='@Url.Action("examReport", "Reports", new { id = Model.SysUser_ID })'">
    Exam Report
</button>
<br />
<button type="button" onclick="location.href='@Url.Action("homeScreen", "Sys_User", new { id = Model.SysUser_ID })'">
    Home
</button>

