@model SkyExams.Models.Sys_User
@{
    ViewBag.Title = "reportsScreen";
    var time = ViewData["time"];
}

<h2>Reports Screen</h2>
<p>Please select a report you would like to generate.</p>
<button type="button" class="btn btn-primary" onclick="location.href='@Url.Action("studentReport", "Reports", new { id = Model.SysUser_ID })'">
    Individual Student Report
</button>
<button type="button" class="btn btn-primary" onclick="location.href='@Url.Action("groupReport", "Reports", new { id = Model.SysUser_ID })'">
    Group Student Report
</button>
<button type="button" class="btn btn-primary" onclick="location.href='@Url.Action("planeReport", "Reports", new { id = Model.SysUser_ID })'">
    Plane Report
</button>
<button type="button" class="btn btn-primary" onclick="location.href='@Url.Action("eventsDateSelect", "Reports", new { id = Model.SysUser_ID })'">
    Events Report
</button>
<button type="button" class="btn btn-primary" onclick="location.href='@Url.Action("instructorReport", "Reports", new { id = Model.SysUser_ID })'">
    Instructor Report
</button>
<button type="button" class="btn btn-primary" onclick="location.href='@Url.Action("examDateSelect", "Reports", new { id = Model.SysUser_ID })'">
    Exam Report
</button>
<br />
<button type="button" class="btn btn-info" onclick="location.href='@Url.Action("viewAccount", "Sys_User", new { id = Model.SysUser_ID })'">
    Back
</button>

<script>
    function timer() {
        window.location.href = '/Sys_User/loginScreen';
    }
    window.oninput = setTimeout(timer, @time);
</script>

