@model SkyExams.Models.Sys_User
@{
    ViewBag.Title = "addPlan";
    var tID = ViewData["topicID"];
    var error = ViewData["err"];
}

<h2>Add Lesson Plan</h2>
<p>Please enter the following information:</p>
<br />
<label style="color:red">@error</label>
<br />
@using (Html.BeginForm("addPlan", "Lesson_Plan", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <div style="display:none;">
        <input type="text" id="id" name="id" value="@Model.SysUser_ID">
    </div>
    <div style="display:none;">
        <input type="text" id="topicId" name="topicId" value="@tID">
    </div>
    <label class="col-md-3">@Html.Label("Lesson Plan Name:")</label>
    <input class="col-md-3" type="text" id="name" name="name">
    <label class="col-md-3">@Html.Label("Lesson Plan (upload a PDF):")</label>
    <input class="col-md-3" type="file" id="plan" name="plan" />
    <br />
    <br />
    <button type="button" class="btn btn-danger" onclick="location.href='@Url.Action("topicScreen", "Lesson_Plan", new { id = Model.SysUser_ID, topicId = tID })'">
        Cancel
    </button>
    <input type="submit" , class="btn btn-primary" value="Submit" id="submitButton"  />
    
}



