@model SkyExams.Models.Lesson_Plan
@{
    ViewBag.Title = "deletePlan";
    var uID = ViewData["loggedId"];
    var type = ViewData["planeType"];
}

<h2>Delete Lesson Plan</h2>
<br />
<p>Are you sure you wish to delete this plan</p>
<br />
<br />
<dl class="dl-horizontal">
    <dt class="col-md-4">
        @Html.Label("Plane Type:")
    </dt>

    <dd>
        @type
    </dd>

    <dt class="col-md-4">
        @Html.Label("Resource Name:")
    </dt>

    <dd>
        @Html.DisplayFor(model => model.LP_Name)
    </dd>
</dl>
<button type="button" onclick="location.href='@Url.Action("topicScreen", "Lesson_Plan", new { id = uID, topicId = Model.Rating_ID })'">
    Back
</button>
<button type="button" onclick="location.href='@Url.Action("deletePlanConformation", "Lesson_Plan", new { loggedId = uID, id = Model.Lesson_Plan_ID })'">
    Delete
</button>

<script>
    function timer() {
        window.location.href = '/Sys_User/loginScreen';
    }
    window.oninput = setTimeout(timer, 300000);
</script>



