@model SkyExams.Models.Sys_User
@{
    ViewBag.Title = "planScreen";
}

<h2>Lesson Plans</h2>
<br />
<br />
<div class="col-md-6">
    <div class="card">
        <div class="card-header"><h4>Cessna 172</h4></div>
        <div class="card-body">
            <img src="~/Content/Cessna172.jpeg" width="280px" height="150px" title="title" alt="additional title" />
        </div>
        <div class="card-footer">
            <button type="button" onclick="location.href='@Url.Action("topicScreen", "Lesson_Plan", new { id = Model.SysUser_ID, topicId = 1 })'">
                View Lesson Plans
            </button>
        </div>
    </div>
</div>
<div class="col-md-6">
    <div class="card">
        <div class="card-header"><h4>Cessna 172 RG</h4></div>
        <div class="card-body">
            
        </div>
        <div class="card-footer">
            <button type="button" onclick="location.href='@Url.Action("topicScreen", "Lesson_Plan", new { id = Model.SysUser_ID, topicId = 2 })'">
                View Lesson Plans
            </button>
        </div>
    </div>
</div>
<br />
<br />
<br />
<br />
<br />
<div class="col-md-6">
    <div class="card">
        <div class="card-header"><h4>Cherokee 140</h4></div>
        <div class="card-body">
            
        </div>
        <div class="card-footer">
            <button type="button" onclick="location.href='@Url.Action("topicScreen", "Lesson_Plan", new { id = Model.SysUser_ID, topicId = 3 })'">
                View Lesson Plans
            </button>
        </div>
    </div>
</div>
<div class="col-md-6">
    <div class="card">
        <div class="card-header"><h4>Piper Twin Commanche</h4></div>
        <div class="card-body">
            
        </div>
        <div class="card-footer">
            <button type="button" onclick="location.href='@Url.Action("topicScreen", "Lesson_Plan", new { id = Model.SysUser_ID, topicId = 4 })'">
                View Lesson Plans
            </button>
        </div>
    </div>
</div>
<br />
<br />
<br />
<br />
<br />
<button type="button" onclick="location.href='@Url.Action("homeScreen", "Sys_User", new { id = Model.SysUser_ID })'">
    Back
</button>


