@model IEnumerable<SkyExams.Models.Lesson_Plan>
@{
    ViewBag.Title = "topicScreen";
    var uID = ViewData["userID"];
    var tID = ViewData["topicID"];
    var type = ViewData["planeType"];
    var userRole = ViewData["userRole"];
}

<h2>Lesson Plans</h2>
<div id="createButton" style="display:none;">
    <button type="button" onclick="location.href='@Url.Action("addPlan", "Lesson_Plan", new { id = uID, topicId = tID })'">
        Add Lesson Plan
    </button>
</div>
<br />
<br />
<table class="table">
    <thead>
        <tr>
            <th scope="col">Lesson Plan</th>
            <th scope="col">Plane Type</th>
            <th scope="col">Download Link</th>
            <th scope="col"></th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td scope="row">
                    @Html.DisplayFor(modelItem => item.LP_Name)
                </td>
                <td scope="row">
                    @type
                </td>
                <td scope="row">
                    @Html.ActionLink("View/Download", "downloadPlan", new { id = item.Lesson_Plan_ID })
                </td>
                <td scope="row" class="deleteFunction" style="display: none;">
                    <button type="button" onclick="location.href='@Url.Action("deletePlan", "Lesson_Plan", new { loggedId = uID, id = item.Lesson_Plan_ID })'">
                        Delete
                    </button>
                </td>
            </tr>
        }
    </tbody>
</table>
<br />
<br />
<button type="button" onclick="location.href='@Url.Action("planScreen", "Lesson_Plan", new { id = uID })'">
    Back
</button>
<script>
    function adminCheck() {
        var userId = @userRole;
        if (userId == '2') {
            document.getElementById("createButton").style.display = "block";
            var func = document.getElementsByClassName("deleteFunction");
            for (var i = 0; i <= func.length; i++) {
                func[i].style.display = "block";
            }
        }
    }
    window.onload = adminCheck;
</script>


