@model IEnumerable<SkyExams.Models.Lesson_Plan>
@{
    ViewBag.Title = "topicScreen";
    var uID = ViewData["userID"];
    var tID = ViewData["topicID"];
}

<h2>Lesson Plans</h2>
<div id="createButton" style="display:none;">
    <button type="button" onclick="location.href='@Url.Action("addPlan", "Lesson_Plan", new { id = uID, topicId = tID })'">
        Add Lesson Plan
    </button>
</div>
<br />
<br />
<table class="table">
    <thead>
        <tr>
            <th scope="col">Lesson Plan</th>
            <th scope="col">Topic</th>
            <th scope="col">Download Link</th>
            <th scope="col"></th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td scope="row">
                    @Html.DisplayFor(modelItem => item.LP_Name)
                </td>
                <td scope="row">
                    <label id="type">@Html.DisplayFor(modelItem => item.Topic_ID)</label>
                    <label id="cessna" style="display:none;">Cessna 172</label>
                    <label id="rg" style="display:none;">Cessna 172 RG</label>
                    <label id="cherokee" style="display:none;">Cherokee 140</label>
                    <label id="twin" style="display:none;">Piper Twin Commanche</label>
                </td>
                <td scope="row">
                    @Html.ActionLink("View/Download", "downloadPlan", new { id = item.Lesson_Plan_ID })
                </td>
                <td scope="row" id="deleteFunction" style="display: none;">
                    <button type="button" onclick="location.href='@Url.Action("deletePlan", "Lesson_Plan", new { loggedId = uID, id = item.Lesson_Plan_ID })'">
                        Delete
                    </button>
                </td>
            </tr>
        }
    </tbody>
</table>
<br />
<br />
<button type="button" onclick="location.href='@Url.Action("planScreen", "Lesson_Plan", new { id = uID })'">
    Continue
</button>
<script>
    function adminCheck() {
        var userId = @uID;
        if (userId == '2') {
            document.getElementById("createButton").style.display = "block";
            document.getElementById("deleteFunction").style.display = "block";
        }

        if (document.getElementById("type").textContent === "1") {
            document.getElementById("type").style.display = "none";
            document.getElementById("cessna").style.display = "block";
        }
        if (document.getElementById("type").textContent === "2") {
            document.getElementById("type").style.display = "none";
            document.getElementById("rg").style.display = "block";
        }
        if (document.getElementById("type").textContent === "3") {
            document.getElementById("type").style.display = "none";
            document.getElementById("cherokee").style.display = "block";
        }
        if (document.getElementById("type").textContent === "4") {
            document.getElementById("type").style.display = "none";
            document.getElementById("twin").style.display = "block";
        }
    }
    window.onload = adminCheck;
</script>


