@model SkyExams.Models.Sys_User
@{
    ViewBag.Title = "addPlaneScreen";
}

<h2>Add New Plane</h2>
<p>Please complete the following fields</p>

@using (Html.BeginForm("addPlaneScreen", "Planes", FormMethod.Post))
{
    <div style="display:none;">
        <input type="text" id="id" name="id" value="@Model.SysUser_ID">
    </div>
    <label class="col-md-3">@Html.Label("Plane Type:")</label>
    <select class="col-md-3" id="type" name="type">
        <option value=""></option>
        <option value="1">Cessna 172</option>
        <option value="2">Cessna 172 RG</option>
        <option value="3">Cherokee 140</option>
        <option value="4">Piper Twin Commanche</option>
    </select>
    <label class="col-md-3">@Html.Label("Description:")</label>
    <input class="col-md-3" type="text" id="description" name="description">
    <br />
    <br />
    <label class="col-md-3">@Html.Label("Call Sign:")</label>
    <input class="col-md-3" type="text" id="sign" name="sign">
    <label class="col-md-3">@Html.Label("Hours Flown:")</label>
    <input class="col-md-3" type="number" id="hoursFlown" name="hoursFlown">
    <br />
    <br />
    <label class="col-md-3">@Html.Label("Hours Until Service:")</label>
    <input class="col-md-3" type="number" id="serviceHours" name="serviceHours">
    <br />
    <br />
    <button type="button" onclick="location.href='@Url.Action("PlanesScreen", "Planes", new { id = Model.SysUser_ID })'">
        Cancel
    </button>
    <input type="submit" , value="Submit" id="submitButton" />
}

