@model IEnumerable<SkyExams.Models.Plane_Type>
@{
    ViewBag.Title = "addPlaneScreen";
    var uID = ViewData["userID"];
    var error = ViewData["err"];
    var time = ViewData["time"];
}

<h2>Add New Plane</h2>
<p>Please complete the following fields</p>
<br />
<label style="color:red">@error</label>
@using (Html.BeginForm("addPlaneScreen", "Planes", FormMethod.Post))
{
    <div style="display:none;">
        <input type="text" id="id" name="id" value="@uID">
    </div>
    <label class="col-md-3">@Html.Label("Plane Type:")</label>
    <select class="col-md-3" id="type" name="type">
        @foreach (var item in Model)
        {
            <option value="@item.Plane_Type_ID">@item.Type_Description</option>
        }
    </select>
    <label class="col-md-3">@Html.Label("Description:")</label>
    <input class="col-md-3" type="text" id="description" name="description">
    <br />
    <br />
    <label class="col-md-3">@Html.Label("Call Sign:")</label>
    <input class="col-md-3" type="text" id="sign" name="sign">
    <label class="col-md-3">@Html.Label("Hours Flown:")</label>
    <input class="col-md-3" type="number" id="hoursFlown" name="hoursFlown">
    <br />
    <br />
    <label class="col-md-3">@Html.Label("Hours Until Service:")</label>
    <input class="col-md-3" type="number" id="serviceHours" name="serviceHours">
    <br />
    <br />
    <button type="button" class="btn btn-danger" onclick="location.href='@Url.Action("PlanesScreen", "Planes", new { id = uID })'">
        Cancel
    </button>
    <input type="submit" , class="btn btn-primary" value="Submit" id="submitButton"  />
   
}

<script>
    function timer() {
        window.location.href = '/Sys_User/loginScreen';
    }
    window.oninput = setTimeout(timer, @time);
</script>



