@model SkyExams.Models.Sys_User
@{
    ViewBag.Title = "addPlaneTypeScreen";
    var error = ViewData["err"];
    var time = ViewData["time"];
}

<h2>Create Plane Type</h2>
<p>Please enter the following information:</p>
<br />
<label style="color:red">@error</label>
<br />
@using (Html.BeginForm("addPlaneTypeScreen", "Planes", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <div style="display:none;">
        <input type="text" id="id" name="id" value="@Model.SysUser_ID">
    </div>
    <label class="col-md-3">@Html.Label("Plane Type name:")</label>
    <input class="col-md-3" type="text" id="name" name="name">
    <label class="col-md-3">@Html.Label("Upload a picture of the Plane:")</label>
    <input class="col-md-3" type="file" id="pic" name="pic" />
    <br />
    <br />
    <button type="button" class="btn btn-danger" onclick="location.href='@Url.Action("planesScreen", "Planes", new { id = Model.SysUser_ID })'">
        Cancel
    </button>
    <input type="submit" , class="btn btn-primary" value="Submit" id="submitButton"  />

}

<script>
    function timer() {
        window.location.href = '/Sys_User/loginScreen';
    }
    window.oninput = setTimeout(timer, @time);
</script>





