@model SkyExams.Models.Plane
@{
    ViewBag.Title = "deletePlane";
    var uID = ViewData["loggedId"];
}

<h2>Delete Plane</h2>
<br />
<p>Are you sure you wish to delete this plane</p>
<br />
<br />
<dl class="dl-horizontal">
    <dt class="col-md-4">
        @Html.Label("Plane Type:")
    </dt>

    <dd>
        <label id="type">@Html.DisplayFor(model => model.Plane_Type_ID)</label>
        <label id="cessna" style="display:none;">Cessna 172</label>
        <label id="rg" style="display:none;">Cessna 172 RG</label>
        <label id="cherokee" style="display:none;">Cherokee 140</label>
        <label id="twin" style="display:none;">Piper Twin Commanche</label>
    </dd>

    <dt class="col-md-4">
        @Html.Label("Call Sign:")
    </dt>

    <dd>
        @Html.DisplayFor(model => model.Call_Sign)
    </dd>

    <dt class="col-md-4">
        @Html.Label("Hours Flown:")
    </dt>

    <dd>
        @Html.DisplayFor(model => model.Hours_Flown)
    </dd>

    <dt class="col-md-4">
        @Html.Label("Hours until next service:")
    </dt>

    <dd>
        @Html.DisplayFor(model => model.Hours_Until_Service)
    </dd>

    
</dl>
<button type="button" onclick="location.href='@Url.Action("planeTypeScreen", "Planes", new { id = uID, typeId = Model.Plane_Type_ID })'">
    Back
</button>
<button type="button" onclick="location.href='@Url.Action("deletePlaneConformation", "Planes", new { loggedId = uID, id = Model.Plane_ID })'">
    Delete
</button>

<script>
    function typeCheck() {
        if (document.getElementById("type").textContent === "1") {
            document.getElementById("type").style.display = "none";
            document.getElementById("cessna").style.display = "block";
        }
        if (document.getElementById("type").textContent === "2") {
            document.getElementById("type").style.display = "none";
            document.getElementById("rg").style.display = "block";
        }
        if (document.getElementById("type").textContent === "3") {
            document.getElementById("type").style.display = "none";
            document.getElementById("cherokee").style.display = "block";
        }
        if (document.getElementById("type").textContent === "4") {
            document.getElementById("type").style.display = "none";
            document.getElementById("twin").style.display = "block";
        }
    }

    window.onload = typeCheck;
</script>
