@model IEnumerable<SkyExams.Models.Plane_Type>
@{
    ViewBag.Title = "planesScreen";
    var uID = ViewData["userID"];
    var rID = ViewData["userRole"];
    var time = ViewData["time"];
}

<h2>Planes</h2>
<br />
<div style="text-align:right;">
    <button type="button" id="consult" class="btn btn-link" onclick="location.href='@Url.Action("planesHelp", "Help", new { id = uID })'">
        Help
    </button>
</div>
<br />
<div id="createButton" style="display:none;">
    <button type="button" class="btn btn-primary" onclick="location.href='@Url.Action("addPlaneScreen", "Planes", new { id = uID })'">
        Add Plane
    </button>
    <button type="button" class="btn btn-primary" onclick="location.href='@Url.Action("addPlaneTypeScreen", "Planes", new { id = uID })'">
        Add Plane Type
    </button>
</div>
<br />
<button type="button" class="btn btn-info" onclick="location.href='@Url.Action("homeScreen", "Sys_User", new { id = uID })'">
    Back
</button>
<br />
<br />
@foreach (var modelItem in Model)
{

    <div class="col-md-6">
        <div class="card">
            <div class="card-header"><h4>@modelItem.Type_Description</h4></div>
            <div class="card-body">
                <img src="@Url.Action("getImg", "Planes", new { id = modelItem.Plane_Type_ID })" width="280px" height="150px" title="title" alt="additional title" />
            </div>
            <div class="card-footer">
                <button type="button" class="btn btn-primary" onclick="location.href='@Url.Action("planeTypeScreen", "Planes", new { id = uID, typeId = modelItem.Plane_Type_ID })'">
                    View Planes
                </button>
                <div id="adminFunctions" class="adminFunctions" style="display:none;">
                    <button type="button" class="btn btn-warning" onclick="location.href='@Url.Action("updatePlaneType", "Planes", new { loggedId = uID, id = modelItem.Plane_Type_ID })'">
                        Update Plane Type
                    </button>
                    <button type="button" class="btn btn-danger" onclick="location.href='@Url.Action("deletePlaneType", "Planes", new { loggedId = uID, id = modelItem.Plane_Type_ID })'">
                        Delete Plane Type
                    </button>
                </div>
            </div>
        </div>
    </div>
    <br />
    <br />
    <br />
    <br />
}
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />

<script>
    function adminCheck() {
        var userId = @rID;
        if (userId == '2') {
            document.getElementById("createButton").style.display = "block";
            var func = document.getElementsByClassName("adminFunctions");
            for (var i = 0; i <= func.length; i++) {
                func[i].style.display = "block";
            }
        }
        if (userId == '3') {
            document.getElementById("createButton").style.display = "block";
            var func = document.getElementsByClassName("adminFunctions");
            for (var i = 0; i <= func.length; i++) {
                func[i].style.display = "block";
            }
        }
        if (userId == '4') {
            document.getElementById("createButton").style.display = "block";
            var func = document.getElementsByClassName("adminFunctions");
            for (var i = 0; i <= func.length; i++) {
                func[i].style.display = "block";
            }
        }
    }

    window.onload = adminCheck;
    function timer() {
        window.location.href = '/Sys_User/loginScreen';
    }
    window.oninput = setTimeout(timer, @time);
</script>


