@model IEnumerable<SkyExams.Models.Plane>

@{
    ViewBag.Title = "planeTypeScreen";
    var uID = ViewData["userID"];
}

<h2>Planes</h2>

<table class="table">
    <thead>
        <tr>
            <th scope="col">Plane Type</th>
            <th scope="col">Call Sign</th>
            <th scope="col">Hours Flown</th>
            <th scope="col">Hours Until Next Service</th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td scope="row">
                    <label id="type">@Html.DisplayFor(modelItem => item.Plane_Type_ID)</label>
                    <label id="cessna" style="display:none;">Cessna 172</label>
                    <label id="rg" style="display:none;">Cessna 172 RG</label>
                    <label id="cherokee" style="display:none;">Cherokee 140</label>
                    <label id="twin" style="display:none;">Piper Twin Commanche</label>
                </td>
                <td scope="row">
                    @Html.DisplayFor(modelItem => item.Call_Sign)
                </td>
                <td scope="row">
                    @Html.DisplayFor(modelItem => item.Hours_Flown)
                </td>
                <td scope="row">
                    @Html.DisplayFor(modelItem => item.Hours_Until_Service)
                </td>
                <td scope="row" id="adminFunctions" style="display: none;">
                    <button type="button" onclick="location.href='@Url.Action("updatePlane", "Planes", new { loggedId = uID, id = item.Plane_ID })'">
                        Update
                    </button>
                    <button type="button" onclick="location.href='@Url.Action("deletePlane", "Planes", new { loggedId = uID, id = item.Plane_ID })'">
                        Delete
                    </button>
                </td>
            </tr>
        }
    </tbody>
</table>
<br />
<br />
<button type="button" onclick="location.href='@Url.Action("planesScreen", "Planes", new { id = uID })'">
    Continue
</button>
<script>
    function adminCheck() {
        var userId = @Html.Raw(Json.Encode(ViewData["userID"]));
        if (userId == '2') {
            document.getElementById("adminFunctions").style.display = "block";
        }
        if (userId == '3') {
            document.getElementById("adminFunctions").style.display = "block";
        }
        if (userId == '4') {
            document.getElementById("adminFunctions").style.display = "block";
        }

        if (document.getElementById("type").textContent === "1") {
            document.getElementById("type").style.display = "none";
            document.getElementById("cessna").style.display = "block";
        }
        if (document.getElementById("type").textContent === "2") {
            document.getElementById("type").style.display = "none";
            document.getElementById("rg").style.display = "block";
        }
        if (document.getElementById("type").textContent === "3") {
            document.getElementById("type").style.display = "none";
            document.getElementById("cherokee").style.display = "block";
        }
        if (document.getElementById("type").textContent === "4") {
            document.getElementById("type").style.display = "none";
            document.getElementById("twin").style.display = "block";
        }
    }

    window.onload = adminCheck;

</script>

