@model SkyExams.Models.Plane_Type

@{
    ViewBag.Title = "updatePlaneType";
    var uID = ViewData["loggedId"];
    var error = ViewData["err"];
    var time = ViewData["time"];
}

<h2>Update Plane Type</h2>
<br />
<label style="color:red">@error</label>
<br />
@using (Html.BeginForm("updatePlaneType", "Planes", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <div style="display:none;">
        <input type="text" id="loddedId" name="loggedId" value="@uID">
    </div>
    <div style="display:none;">
        <input type="text" id="id" name="id" value="@Model.Plane_Type_ID">
    </div>
    <label class="col-md-3">@Html.Label("Plane Type name:")</label>
    <input class="col-md-3" type="text" id="name" name="name" value="@Model.Type_Description">
    <label class="col-md-3">@Html.Label("Upload a picture of the Plane:")</label>
    <input class="col-md-3" type="file" id="pic" name="pic" />
    <br />
    <br />
    <button type="button" class="btn btn-danger" onclick="location.href='@Url.Action("planesScreen", "Planes", new { id = uID })'">
        Cancel
    </button>
    <input type="submit" , class="btn btn-primary" value="Submit" id="submitButton"  />
}

<script>
    function timer() {
        window.location.href = '/Sys_User/loginScreen';
    }
    window.oninput = setTimeout(timer, @time);
</script>



