@model IEnumerable<SkyExams.Models.Section>
@{
    ViewBag.Title = "updateQuestion";
    var uID = ViewData["userId"];
    var rID = ViewData["ratingId"];
    var qID = ViewData["questionId"];
    var quest = ViewData["question"];
    var cAnsID = ViewData["correctAnsId"];
    var cAns = ViewData["correctAns"];
    var f1Id = ViewData["false1Id"];
    var f1 = ViewData["false1"];
    var f2Id = ViewData["false2Id"];
    var f2 = ViewData["false2"];
}

<h2>Update Question and Answer</h2>
<br />
<br />
@using (Html.BeginForm("updateQuestion", "Questions", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <div style="display:none;">
        <input type="text" id="id" name="id" value="@uID">
    </div>
    <div style="display:none;">
        <input type="text" id="ratingId" name="ratingId" value="@rID">
    </div>
    <div style="display:none;">
        <input type="text" id="questionId" name="questionId" value="@qID">
    </div>
    <div style="display:none;">
        <input type="text" id="correctAnsId" name="correctAnsId" value="@cAnsID">
    </div>
    <div style="display:none;">
        <input type="text" id="false1Id" name="false1Id" value="@f1Id">
    </div>
    <div style="display:none;">
        <input type="text" id="false2Id" name="false2Id" value="@f2Id">
    </div>
    <label class="col-md-3">@Html.Label("Question:")</label>
    <input class="col-md-3" type="text" id="question" name="question" value="@quest">
    <label class="col-md-3">@Html.Label("Section:")</label>
    <select id="sec" name="sec">
        @foreach (var item in Model)
        {
            <option value="@item.Section_ID">@item.Section1</option>
        }
    </select>
    <br />
    <br />
    <label class="col-md-3">@Html.Label("Correct Answer:")</label>
    <input class="col-md-3" type="text" id="correct" name="correct" value="@cAns">
    <label class="col-md-3">@Html.Label("1st Incorrect Answer:")</label>
    <input class="col-md-3" type="text" id="false1" name="false1" value="@f1">
    <br />
    <br />
    <label class="col-md-3">@Html.Label("2nd Incorrect Answer:")</label>
    <input class="col-md-3" type="text" id="false2" name="false2" value="@f2">
    <br />
    <br />
    <button type="button" onclick="location.href='@Url.Action("questionsScreen", "Questions", new { id = uID, ratingId = rID })'">
        Cancel
    </button>
    <input type="submit" , value="Submit" id="submitButton" disabled />
    <label>Hint: Complete all the fields for the submit button to enable.</label>
}

<script>
    function checkInput() {
        var question = $("#question").val();
        var sec = $("#sec").val();
        var correct = $("#correct").val();
        var false1 = $("#false1").val();
        var false2 = $("#false2").val();
        if (question != "" && sec != "" && correct != "" && false1 != "" && false2 != "") {
            document.getElementById("submitButton").disabled = false;
        }// no input
    }
    window.oninput = checkInput;

</script>


