@model SkyExams.Models.uEvent

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>uEvent</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Date_Time)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Date_Time)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Location_ID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Location_ID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Event_Type_ID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Event_Type_ID)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Event_ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
