@model IEnumerable<SkyExams.Models.Plane_Type>

@{
    ViewBag.Title = "addStudentExam";
    var userId = ViewData["userID"];
    var studentId = ViewData["studentID"];
    var time = ViewData["time"];
}

<h2>Add Student to an Exam</h2>
@using (Html.BeginForm("addStudentExam", "Sys_User", FormMethod.Post))
{
    <div style="display:none;">
        <input type="text" id="loggedId" name="loggedId" value="@userId">
    </div>
    <div style="display:none;">
        <input type="text" id="id" name="id" value="@studentId">
    </div>
    <label for="resource">Select an Exam for the student:</label>
    <select id="exam" name="exam">
        @foreach (var item in Model)
        {
            <option value="@item.Plane_Type_ID">@item.Type_Description</option>
        }
    </select>
    <br />
    <br />
    <button type="button" class="btn btn-info" onclick="location.href='@Url.Action("searchScreen", "Sys_User", new { id = userId })'">
        Back
    </button>
    <input type="submit" class="btn btn-primary", value="Submit" />
    <label>Hint: Complete all the fields for the submit button to enable.</label>
}
<script>
    function timer() {
        window.location.href = '/Sys_User/loginScreen';
    }
    window.oninput = setTimeout(timer, @time);
</script>
