@model IEnumerable<SkyExams.Models.Sys_User>
@{
    ViewBag.Title = "addStudentInstructor";
    var userId = ViewData["userID"];
    var studentId = ViewData["studentID"];
    var time = ViewData["time"];
}

<h2>Assign Student an Instructor</h2>
@using (Html.BeginForm("addStudentInstructor", "Sys_User", FormMethod.Post))
{
    <div style="display:none;">
        <input type="text" id="loggedId" name="loggedId" value="@userId">
    </div>
    <div style="display:none;">
        <input type="text" id="id" name="id" value="@studentId">
    </div>
    <label for="insturctor">Assign an instructor for the student:</label>
    <select id="insturctor" name="insturctor">
        @foreach (var item in Model)
        {
            <option value="@item.SysUser_ID">@item.FName @item.Surname</option>
        }
    </select>
    <br />
    <br />
    <button type="button" class="btn btn-info" onclick="location.href='@Url.Action("searchScreen", "Sys_User", new { id = userId })'">
        Back
    </button>
    <input type="submit" class="btn btn-primary", value="Submit" />
}

<script>
    function timer() {
        window.location.href = '/Sys_User/loginScreen';
    }
    window.oninput = setTimeout(timer, @time);
</script>
