
@{
    ViewBag.Title = "forgotPassword";
    var error = ViewData["err"];
}

<h2>Forgot Password</h2>

<label style="color:red">@error</label>

@using (Html.BeginForm("forgotPassword", "Sys_User", FormMethod.Post))
{
    <label class="col-md-2">@Html.Label("User name:")</label>
    <input type="text" id="userName" name="userName">
    <br />
    <br />
    <label class="col-md-2">@Html.Label("Email:")</label>
    <input type="text" id="email" name="email">
    <br />
    <br />
    <label class="col-md-2">@Html.Label("New Password:")</label>
    <input type="password" id="NewPass" name="newPass">
    <br />
    <br />
    <label class="col-md-2">@Html.Label("Confirm Password:")</label>
    <input type="password" id="confPass" name="confPass">
    <span class="label label-warning" id="warningLabel" style="display:none;">Passwords do not match</span>
    <br />
    <br />
    <input type="submit" , value="Confirm" id="submitButton"/>
    <br />
    <br />
    <button type="button" onclick="location.href='@Url.Action("loginScreen", "Sys_User")'">
        Cancel
    </button>
}

<script>
    function checkPasswords() {
        var password = $("#NewPass").val();
        var confirmPassword = $("#confPass").val();
        if (password != confirmPassword) {
            document.getElementById("warningLabel").style.display = "block";
            document.getElementById("submitButton").disabled = true;
        }
        if (password == confirmPassword) {
            document.getElementById("warningLabel").style.display = "none";
            document.getElementById("submitButton").disabled = false;
        }
    }
    window.oninput = checkPasswords;
    
</script>


