
@{
    ViewBag.Title = "forgotPassword";
}

<h2>Forgot Password</h2>

@using (Html.BeginForm("forgotPassword", "Sys_User", FormMethod.Post))
{
    <label>@Html.Label("User name:")</label>
    <input type="text" id="userName" name="userName">
    <br />
    <br />
    <label>@Html.Label("Email:")</label>
    <input type="text" id="email" name="email">
    <br />
    <br />
    <label>@Html.Label("New Password:")</label>
    <input type="password" id="NewPass" name="newPass">
    <label>@Html.Label("Confirm Password:")</label>
    <input type="password" id="confPass" name="confPass">
    <br />
    <br />
    <input type="submit" , value="Confirm" />
    <br />
    <br />
    <div>
        @Html.ActionLink("Cancel", "loginScreen")
    </div>
}


