@model SkyExams.Models.Sys_User

@{
    ViewBag.Title = "Home";
}
<h2>Home</h2>

<button type="button" class="btn btn-info" onclick="location.href='@Url.Action("viewAccount", "Sys_User", new { id = Model.SysUser_ID })'">
    View Account
</button>
<button type="button" class="btn btn-info" onclick="location.href='@Url.Action("searchScreen", "Sys_User", new { id = Model.SysUser_ID })'">
    Search
</button>
<button type="button" class="btn btn-info" onclick="location.href='@Url.Action("planesScreen", "Planes", new { id = Model.SysUser_ID })'">
    Planes
</button>
<button type="button" class="btn btn-info" onclick="location.href='@Url.Action("resourceScreen", "Study_Resource", new { id = Model.SysUser_ID })'">
    Study Resources
</button>
<button type="button" class="btn btn-info" onclick="location.href='@Url.Action("planScreen", "Lesson_Plan", new { id = Model.SysUser_ID })'">
    Lesson Plans
</button>
<button type="button" class="btn btn-info" onclick="location.href='@Url.Action("exams", "Questions", new { id = Model.SysUser_ID })'">
    Exams
</button>
<button type="button" id="consult" class="btn btn-info" onclick="location.href='@Url.Action("studentCheck", "Bookings", new { id = Model.SysUser_ID })'">
    Exam Consultations
</button>
<button type="button" id="consult" class="btn btn-info" onclick="location.href='@Url.Action("viewEvents", "uEvents", new { id = Model.SysUser_ID })'">
    Events
</button>
<button type="button" id="consult" class="btn btn-link" onclick="location.href='@Url.Action("studentCheck", "Help", new { id = Model.SysUser_ID })'">
    Help
</button>
<button type="button" class="btn btn-danger" onclick="location.href='@Url.Action("loginScreen", "Sys_User", new { id = Model.SysUser_ID })'">
    Logout
</button>
<br />
<br />
<div id="image" style="align-items:center;">
    <img src="~/Content/homeImage.jpeg" width="600px" height="200px" title="title" alt="additional title" />
</div>

<script>  
    function timer() {
        window.location.href = '/Sys_User/loginScreen';
    }
    window.oninput = setTimeout(timer, 300000);
</script>

