@model SkyExams.Models.Sys_User

@{
    ViewBag.Title = "Home";
}
<br />
<br />
<br />
<button type="button" class="btn btn-info" onclick="location.href='@Url.Action("viewAccount", "Sys_User", new { id = Model.SysUser_ID })'">
    View Account
</button>
<button type="button" class="btn btn-info" onclick="location.href='@Url.Action("searchScreen", "Sys_User", new { id = Model.SysUser_ID })'">
    Search
</button>
<button type="button" class="btn btn-info" onclick="location.href='@Url.Action("planesScreen", "Planes", new { id = Model.SysUser_ID })'">
    Planes
</button>
<button type="button" class="btn btn-info" onclick="location.href='@Url.Action("resourceScreen", "Study_Resource", new { id = Model.SysUser_ID })'">
    Study Resources
</button>
<button type="button" class="btn btn-info" onclick="location.href='@Url.Action("planScreen", "Lesson_Plan", new { id = Model.SysUser_ID })'">
    Lesson Plans
</button>
<button type="button" class="btn btn-info" onclick="location.href='@Url.Action("exams", "Questions", new { id = Model.SysUser_ID })'">
    Exams
</button>
<button type="button" id="consult" class="btn btn-info" onclick="location.href='@Url.Action("studentCheck", "Bookings", new { id = Model.SysUser_ID })'">
    Exam Consultations
</button>
<button type="button" id="consult" class="btn btn-info" onclick="location.href='@Url.Action("Index", "uEvents", new { id = Model.SysUser_ID })'">
    Events
</button>
<button type="button" id="consult" class="btn btn-link" onclick="location.href='@Url.Action("studentCheck", "Help", new { id = Model.SysUser_ID })'">
    Help
</button>
<button type="button" class="btn btn-danger" onclick="location.href='@Url.Action("loginScreen", "Sys_User")'">
    Logout
</button>
<br />
<br />
<div id="image" style="align-items:center;">
    <video width="600px", height="200px" autoplay>
        <source src="~/Content/fts_video.mp4" type="video/mp4" />
    </video>
</div>

<script>  
    function timer() {
        window.location.href = '/Sys_User/loginScreen';
    }
    window.oninput = setTimeout(timer, 300000);

    string viewNames = Session["AuthId"];
    if (viewNames == null) {
        $(document).ready(function () {
            window.location.href = "../Sys_User/loginScreen";
        });
    }
</script>

