@model SkyExams.Models.Sys_User
@{
    ViewBag.Title = "resetPassword";
}

<h2>Reset Password</h2>
@using (Html.BeginForm("resetPassword", "Sys_User", FormMethod.Post))
{
    <div style="display:none;">
        <input type="text" id="id" name="id" value="@Model.SysUser_ID">
    </div>
    <label class="col-md-3">@Html.Label("Old Password:")</label>
    <input class="col-md-3" type="password" id="oldPass" name="oldPass">
    <br />
    <br />
    <label class="col-md-3">@Html.Label("New Password:")</label>
    <input class="col-md-3" type="password" id="NewPass" name="newPass">
    <label class="col-md-3">@Html.Label("Confirm Password:")</label>
    <input class="col-md-3" type="password" id="confPass" name="confPass">
    <br />
    <br />
    <input type="submit" , value="Confirm" />
    <br />
    <br />
    <button type="button" onclick="location.href='@Url.Action("homeScreen", "Sys_User", new { id = Model.SysUser_ID })'">
        Cancel
    </button>
}

