@model SkyExams.Models.Sys_User
@{
    ViewBag.Title = "resetPassword";
}

<h2>Reset Password</h2>
@using (Html.BeginForm("resetPassword", "Sys_User", FormMethod.Post))
{
    <div style="display:none;">
        <input type="text" id="id" name="id" value="@Model.SysUser_ID">
    </div>
    <label class="col-md-3">@Html.Label("Old Password:")</label>
    <input class="col-md-3" type="password" id="oldPass" name="oldPass">
    <br />
    <br />
    <label class="col-md-3">@Html.Label("New Password:")</label>
    <input class="col-md-3" type="password" id="NewPass" name="newPass">
    <label class="col-md-3">@Html.Label("Confirm Password:")</label>
    <input class="col-md-3" type="password" id="confPass" name="confPass">
    <br />
    <br />
    <span class="label label-warning" id="warningLabel" style="display:none;">Passwords do not match</span>
    <br />
    <br />
    <input type="submit" , value="Confirm" id="submitButton" disabled />
    <br />
    <br />
    <button type="button" onclick="location.href='@Url.Action("homeScreen", "Sys_User", new { id = Model.SysUser_ID })'">
        Cancel
    </button>
    <label>Hint: Complete all the fields for the submit button to enable.</label>
}

<script>
    function checkPasswords() {
        var oldPassword = $("oldPass");
        var password = $("#NewPass").val();
        var confirmPassword = $("#confPass").val();
        if (password != confirmPassword) {
            document.getElementById("warningLabel").style.display = "block";
            document.getElementById("submitButton").disabled = true;
        }
        if (password == confirmPassword) {
            document.getElementById("warningLabel").style.display = "none";
            document.getElementById("submitButton").disabled = false;
        }
        if (oldPassword != "" && password != "" && confirmPassword != "") {
            document.getElementById("submitButton").disabled = false;
        }// no input
    }
    window.oninput = checkPasswords;

</script>
