@model IEnumerable<SkyExams.Models.Sys_User>
@{
    ViewBag.Title = "searchResultsScreen";
}

<h2>Search Results</h2>

@foreach (var item in Model)
{
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.FName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Surname)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Cell_Number)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Email_Address)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Physical_Address)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DOB)
        </td>
    </tr>
}

