@model SkyExams.Models.Sys_User

@{
    ViewBag.Title = "Account";
    var time = ViewData["time"];
    var restoreMessage = ViewData["msg"];
    var city = ViewData["city"];
    var country = ViewData["country"];
}

<h2>Account Details</h2>
<div style="text-align:right;">
    <button type="button" id="consult" class="btn btn-link" onclick="location.href='@Url.Action("viewAccountHelp", "Help", new { id = Model.SysUser_ID })'">
        Help
    </button>
</div>
<dl class="dl-horizontal">
    @*<dt>
        @Html.Label("Profile Image:")
    </dt>*@

    @*<dd>
        <img src="@Url.Action("getImg", "Sys_User", new { id = Model.SysUser_ID })" width="280px" height="150px" title="title" alt="No Image" />
    </dd>*@

    <dt class="col-md-4">
        @Html.Label("Title:")
    </dt>

    <dd>
        <label id="title">@Html.DisplayFor(model => model.Title_ID)</label>
        <label id="mr" style="display:none;">Mr</label>
        <label id="mrs" style="display:none;">Mrs</label>
        <label id="miss" style="display:none;">Miss</label>
        <label id="other" style="display:none;">Other</label>
    </dd>

    <dt class="col-md-4">
        @Html.Label("First Name:")
    </dt>

    <dd>
        @Html.DisplayFor(model => model.FName)
    </dd>

    <dt class="col-md-4">
        @Html.Label("Surname:")
    </dt>

    <dd>
        @Html.DisplayFor(model => model.Surname)
    </dd>

    <dt class="col-md-4">
        @Html.Label("Cell Number:")
    </dt>

    <dd>
        @Html.DisplayFor(model => model.Cell_Number)
    </dd>

    <dt class="col-md-4">
        @Html.Label("Email Address:")
    </dt>

    <dd>
        @Html.DisplayFor(model => model.Email_Address)
    </dd>

    <dt class="col-md-4">
        @Html.Label("Physical Address:")
    </dt>

    <dd>
        @Html.DisplayFor(model => model.Physical_Address), @city, @country
    </dd>

    <dt class="col-md-4">
        @Html.Label("Date of Birth:")
    </dt>

    <dd>
        @Html.DisplayFor(model => model.DOB)
    </dd>

</dl>
<br />
<button type="button" class="btn btn-warning" style="width:250px;" onclick="location.href='@Url.Action("updateAccount", "Sys_User", new { id = Model.SysUser_ID })'">
    Update Account Details
</button>
<br />
<br />
<div id="persHrs" style="display: none;">
    <button type="button" class="btn btn-warning" style="width:250px;" onclick="location.href='@Url.Action("StudentHours", "Sys_User", new { id = Model.SysUser_ID })'">
        Update Personal Hours Flown
    </button>
    <br />
    <br />
</div>
<div id="captureReg" style="display: none;">
    @Html.ActionLink("Download Excel Document", "ExportToExcel")
    <br />
    <br />
    <button type="button" class="btn btn-info" style="width:250px;" onclick="location.href='@Url.Action("reportsScreen", "Reports", new { id = Model.SysUser_ID })'">
        Reports
    </button>
    <br />
    <br />

    <div id="managerFunc" style="display:none;">
        <button type="button" id="timer" class="btn btn-info" style="width:250px;" onclick="location.href='@Url.Action("TimerView", "Sys_User", new { id = Model.SysUser_ID })'">
            Adjust timer
        </button>

        <br />
        <br />

        <button type="button" id="btnBackup" class="btn btn-info" style="width:250px;" onclick="location.href='@Url.Action("BtnBackup_Click", "Sys_User", new { loggedId = Model.SysUser_ID })'">
            Backup database
        </button>

        <br />
        <br />

        <button type="button" id="btnRestore" class="btn btn-info" style="width:250px;" onclick="location.href='@Url.Action("BtnRestore_Click", "Sys_User", new { loggedId = Model.SysUser_ID })'">
            Restore database
        </button>

        <br />
        <br />

        <label>
            @restoreMessage
        </label>
        <br />
        <br />
    </div>

</div>
<button type="button" class="btn btn-info" style="width:250px;" onclick="location.href='@Url.Action("resetPassword", "Sys_User", new { id = Model.SysUser_ID })'">
    Reset Password
</button>
<br />
<br />
<button type="button" class="btn btn-info" style="width:250px;" onclick="location.href='@Url.Action("homeScreen", "Sys_User", new { id = Model.SysUser_ID })'">
    Home
</button>
<br />
<br />
<button type="button" class="btn btn-danger" style="width:250px;" onclick="location.href='@Url.Action("loginScreen", "Sys_User")'">
    Logout
</button>

<script>
    function displayTitle() {
        if (document.getElementById("title").textContent === "1") {
            document.getElementById("title").style.display = "none";
            document.getElementById("mr").style.display = "block";
        }
        if (document.getElementById("title").textContent === "2") {
            document.getElementById("title").style.display = "none";
            document.getElementById("mrs").style.display = "block";
        }
        if (document.getElementById("title").textContent === "3") {
            document.getElementById("title").style.display = "none";
            document.getElementById("miss").style.display = "block";
        }
        if (document.getElementById("title").textContent === "4") {
            document.getElementById("title").style.display = "none";
            document.getElementById("other").style.display = "block";
        }
        if (@Model.User_Role_ID == 1){
            document.getElementById("persHrs").style.display = "block";
        }
        if (@Model.User_Role_ID == 3 || @Model.User_Role_ID == 4){
            document.getElementById("captureReg").style.display = "block";
        }
        if (@Model.User_Role_ID == 4) {
            document.getElementById("managerFunc").style.display = "block";
        }
    }
    window.onload = displayTitle;
    function timer() {
        window.location.href = '/Sys_User/loginScreen';
    }
    window.oninput = setTimeout(timer, @time);
</script>

