@model IEnumerable<SkyExams.Models.Instructor_Slots>
@{
    ViewBag.Title = "slotsScreen";
    var uID = ViewData["userId"];
    var time = ViewData["time"];
    var role = ViewData["role"];
}

<h2>Booking Slots</h2>
<div>
    <button type="button" id="addBtn" style="display:none;" class="btn btn-primary" onclick="location.href='@Url.Action("createSlot", "Bookings", new { id = uID })'">
        Create Booking Slot
    </button>
</div>
<br />
<div style="text-align:right;">
    <button type="button" class="btn btn-link" id="consult" onclick="location.href='@Url.Action("consultationHelp", "Help", new { id = uID })'">
        Help
    </button>
</div>
<br />
<table class="table">
    <thead>
        <tr>
            <th scope="col">Date and Time</th>
            <th scope="col">Booked</th>
            <th scope="col"></th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td scope="row">
                    @Html.DisplayFor(modelItem => item.Date_Time)
                </td>
                <td scope="row">
                    @Html.DisplayFor(modelItem => item.Booked)
                </td>
                <td scope="row" style="display:none;" class="insFunc">
                    <button type="button" class="btn btn-warning" onclick="location.href='@Url.Action("updateSlot", "Bookings", new { id = uID, slotId = item.Slot_ID })'">
                        Update
                    </button>
                    <button type="button" class="btn btn-danger" onclick="location.href='@Url.Action("deleteSlot", "Bookings", new { id = uID, slotId = item.Slot_ID })'">
                        Delete
                    </button>
                </td>
            </tr>
        }
    </tbody>
</table>
<br />
<br />
<button type="button" class="btn btn-info" onclick="location.href='@Url.Action("homeScreen", "Sys_User", new { id = uID })'">
    Back
</button>

<script>

    function adminCheck() {
        var userId = @role;
        if (userId == '2') {
            document.getElementById("addBtn").style.display = "block";
            var func = document.getElementsByClassName("insFunc");
            for (var i = 0; i <= func.length; i++) {
                func[i].style.display = "block";
            }
        }
    }
    window.onload = adminCheck;

    function timer() {
        window.location.href = '/Sys_User/loginScreen';
    }
    window.oninput = setTimeout(timer, @time);
</script>