@model SkyExams.Models.Study_Resource
@{
    ViewBag.Title = "deleteResource";
    var uID = ViewData["loggedId"];
    var type = ViewData["planeType"];
}

<h2>Delete Resource</h2>
<br />
<p>Are you sure you wish to delete this resource</p>
<br />
<br />
<dl class="dl-horizontal">
    <dt class="col-md-4">
        @Html.Label("Plane Type:")
    </dt>

    <dd>
        @type
    </dd>

    <dt class="col-md-4">
        @Html.Label("Resource Name:")
    </dt>

    <dd>
        @Html.DisplayFor(model => model.Resource_Name)
    </dd>
</dl>
<button type="button" class="btn btn-info" onclick="location.href='@Url.Action("themeScreen", "Study_Resource", new { id = uID, typeId = Model.Rating_ID })'">
    Back
</button>
<button type="button" class="btn btn-danger" onclick="location.href='@Url.Action("deleteResourceConformation", "Study_Resource", new { loggedId = uID, id = Model.Study_Resource_ID })'">
    Delete
</button>

<script>
    function typeCheck() {
        if (document.getElementById("type").textContent === "1") {
            document.getElementById("type").style.display = "none";
            document.getElementById("cessna").style.display = "block";
        }
        if (document.getElementById("type").textContent === "2") {
            document.getElementById("type").style.display = "none";
            document.getElementById("rg").style.display = "block";
        }
        if (document.getElementById("type").textContent === "3") {
            document.getElementById("type").style.display = "none";
            document.getElementById("cherokee").style.display = "block";
        }
        if (document.getElementById("type").textContent === "4") {
            document.getElementById("type").style.display = "none";
            document.getElementById("twin").style.display = "block";
        }
    }

    window.onload = typeCheck;
    function timer() {
        window.location.href = '/Sys_User/loginScreen';
    }
    window.oninput = setTimeout(timer, 300000);
</script>


