@model IEnumerable<SkyExams.Models.Plane_Type>
@{
    var uID = ViewData["userID"];
    var type = ViewData["planeType"];
    var userRole = ViewData["userRole"];
}

<h2>Resources</h2>
<br />
<div style="text-align:right;">
    <button type="button" id="consult" class="btn btn-link" onclick="location.href='@Url.Action("studyResourceHelp", "Help", new { id = uID })'">
        Help
    </button>
</div>
<br />
<button type="button" class="btn btn-info" onclick="location.href='@Url.Action("homeScreen", "Sys_User", new { id = uID })'">
    Back
</button>
<br />
<br />
@foreach (var modelItem in Model)
{

    <div class="col-md-6">
        <div class="card">
            <div class="card-header"><h4>@modelItem.Type_Description</h4></div>
            <div class="card-body">
                <img src="@Url.Action("getImg", "Study_Resource", new { id = modelItem.Plane_Type_ID })" width="280px" height="150px" title="title" alt="additional title" />
            </div>
            <div class="card-footer">
                <button type="button" class="btn btn-primary" onclick="location.href='@Url.Action("themeScreen", "Study_Resource", new { id = uID, typeId = modelItem.Plane_Type_ID})'">
                    View Resources
                </button>
            </div>
        </div>
    </div>
    <br />
    <br />
    <br />
    <br />
}
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />

<script>
    function timer() {
        window.location.href = '/Sys_User/loginScreen';
    }
    window.oninput = setTimeout(timer, 300000);
</script>

