@model IEnumerable<SkyExams.Models.Study_Resource>
@{
    ViewBag.Title = "themeScreen";
    var uID = ViewData["userID"];
    var tID = ViewData["themeID"];
    var type = ViewData["planeType"];
    var userRole = ViewData["userRole"];
}

<h2>Resources:</h2>

<div id="createButton" style="display:none;">
    <button type="button" onclick="location.href='@Url.Action("addResource", "Study_Resource", new { id = uID, themeId = tID })'">
        Add Resource
    </button>
</div>
<br />
<br />
<table class="table">
    <thead>
        <tr>
            <th scope="col">Resource Name</th>
            <th scope="col">Theme</th>
            <th scope="col">Download Link</th>
            <th scope="col"></th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td scope="row">
                    @Html.DisplayFor(modelItem => item.Resource_Name)
                </td>
                <td scope="row">
                    @type
                </td>
                <td scope="row">
                    @Html.ActionLink("View/Download", "downloadResource", new { id = item.Study_Resource_ID })
                </td>
                <td scope="row" class="deleteFunction" style="display: none;">
                    <button type="button" onclick="location.href='@Url.Action("deleteResource", "Study_Resource", new { loggedId = uID, id = item.Study_Resource_ID })'">
                        Delete
                    </button>
                </td>
            </tr>
        }
    </tbody>
</table>
<br />
<br />
<button type="button" onclick="location.href='@Url.Action("resourceScreen", "Study_Resource", new { id = uID })'">
    Back
</button>
<script>
    function adminCheck() {
        var userId = @userRole;
        if (userId == '2') {
            document.getElementById("createButton").style.display = "block";
            var func = document.getElementsByClassName("deleteFunction");
            for (var i = 0; i <= func.length; i++) {
                func[i].style.display = "block";
            }
        }
        else if (userId == '3') {
            document.getElementById("createButton").style.display = "block";
            var func = document.getElementsByClassName("deleteFunction");
            for (var i = 0; i <= func.length; i++) {
                func[i].style.display = "block";
            }
        }
        else if (userId == '4') {
            document.getElementById("createButton").style.display = "block";
            var func = document.getElementsByClassName("deleteFunction");
            for (var i = 0; i <= func.length; i++) {
                func[i].style.display = "block";
            }
        }
    }
    window.onload = adminCheck;
</script>

